In [1]:
import pandas as pd

## Loading three files

In [2]:
companies=pd.read_csv('C:\\Users\\Administrator\\Downloads\\datasets\\Teclov\\companies.txt',sep='\t',encoding='ANSI')

In [3]:
companies.head(2)

,permalink,name,homepage_url,category_list,status,country_code,state_code,region,city,founded_at
0,/Organization/-Fame,#fame,http://livfame.com,Media,operating,IND,16,Mumbai,Mumbai,NaN
1,/Organization/-Qounter,:Qounter,http://www.qounter.com,Application Platforms|Real Time|Social Network...,operating,USA,DE,DE - Other,Delaware City,04-09-2014

In [4]:
maping=pd.read_csv('C:\\Users\\Administrator\\Downloads\\datasets\\Teclov\\mapping.csv',sep=',',encoding='ANSI')

In [5]:
maping

,category_list,Automotive & Sports,Blanks,Cleantech / Semiconductors,Entertainment,Health,Manufacturing,"News, Search and Messaging",Others,"Social, Finance, Analytics, Advertising"
0,NaN,0,1,0,0,0,0,0,0,0
1,3D,0,0,0,0,0,1,0,0,0
2,3D Printing,0,0,0,0,0,1,0,0,0
3,3D Technology,0,0,0,0,0,1,0,0,0
4,Accounting,0,0,0,0,0,0,0,0,1
5,Active Lifestyle,0,0,0,0,1,0,0,0,0
6,Ad Targeting,0,0,0,0,0,0,0,0,1
7,Advanced Materials,0,0,0,0,0,1,0,0,0
8,Adventure Travel,1,0,0,0,0,0,0,0,0
9,Advertising,0,0,0,0,0,0,0,0,1
10,Advertising Exchanges,0,0,0,0,0,0,0,0,1
11,Advertising Networks,0,0,0,0,0,0,0,0,1
12,Advertising Platforms,0,0,0,0,0,0,0,0,1
13,Advice,0,0,0,0,0,0,0,1,0
14,Aerospace,1,0,0,0,0,0,0,0,0
15,Agriculture,0,0,0,0,0,1,0,0,0
16,Air Pollution Control,0,0,1,0,0,0,0,0,0
17,Algorithms,0,0,0,0,0,0,0,1,0
18,All Markets,0,0,0,0,0,0,0,1,0
19,All Students,0,0,0,0,0,0,0,1,0
20,Alter0tive Medicine,0,0,0,0,1,0,0,0,0
21,Alumni,0,0,0,0,0,0,0,1,0
22,A0lytics,0,0,0,0,0,0,0,0,1
23,Android,0,0,0,0,0,0,0,0,1
24,Angels,0,0,0,0,0,0,0,1,0
25,Animal Feed,0,0,0,0,1,0,0,0,0
26,Anything Capital Intensive,0,0,0,0,0,0,0,0,1
27,App Discovery,0,0,0,0,0,0,1,0,0
28,App Marketing,0,0,0,0,0,0,1,0,0
29,App Stores,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...
658,Usability,0,0,0,0,0,0,0,1,0
659,User Experience Design,0,0,0,0,0,0,0,1,0
660,User Interface,0,0,0,0,0,0,0,1,0
661,Utilities,0,0,0,0,0,0,0,1,0
662,Vending and Concessions,0,0,0,0,0,0,0,1,0
663,Venture Capital,0,0,0,0,0,0,0,0,1
664,Veteri0ry,0,0,0,0,1,0,0,0,0
665,Video,0,0,0,1,0,0,0,0,0
666,Video Conferencing,0,0,0,1,0,0,0,0,0
667,Video Games,0,0,0,1,0,0,0,0,0
668,Video on Demand,0,0,0,1,0,0,0,0,0
669,Video Streaming,0,0,0,1,0,0,0,0,0
670,Virtual Workforces,0,0,0,1,0,0,0,0,0
671,VoIP,0,0,0,1,0,0,0,0,0
672,Waste Ma0gement,0,0,1,0,0,0,0,0,0
673,Watch,0,0,0,0,0,0,0,1,0
674,Water,0,0,1,0,0,0,0,0,0
675,Water Purification,0,0,1,0,0,0,0,0,0
676,Wearables,0,0,1,0,0,0,0,0,0
677,Web Browsers,0,0,0,0,0,0,1,0,0
678,Web Design,0,0,0,0,0,0,1,0,0
679,Web Development,0,0,0,0,0,0,0,1,0
680,Web Hosting,0,0,0,0,0,0,0,1,0
681,Web Tools,0,0,0,0,0,0,0,1,0
682,Weddings,0,0,0,1,0,0,0,0,0
683,Wholesale,0,0,0,0,0,0,0,1,0
684,Wine And Spirits,0,0,0,1,0,0,0,0,0
685,Wireless,0,0,0,1,0,0,0,0,0
686,Women,0,0,0,0,0,0,0,1,0
687,Young Adults,0,0,0,0,0,0,0,1,0

In [6]:
rounds=pd.read_csv('C:\\Users\\Administrator\\Downloads\\datasets\\Teclov\\rounds2.csv',encoding='ANSI')

In [7]:
rounds.head(2)

,company_permalink,funding_round_permalink,funding_round_type,funding_round_code,funded_at,raised_amount_usd
0,/organization/-fame,/funding-round/9a01d05418af9f794eebff7ace91f638,venture,B,05-01-2015,10000000.0
1,/ORGANIZATION/-QOUNTER,/funding-round/22dacff496eb7acb2b901dec1dfe5633,venture,A,14-10-2014,NaN

### Cleaning perma link in companies file

In [8]:
a=companies['permalink'].apply( lambda x: x.replace('/Organization/',('')) )

In [9]:
b=a.apply( lambda x: x.replace('-','')) .str.lower().str.strip()

#### Unique in  permalink

In [10]:
b.nunique()

66290

### Droping the pemelink and adding the new column comapny_name

In [11]:
new_companies=companies.drop(['permalink','name'],axis=1)

In [12]:
new_companies['company_name']=b.str.lower()

In [13]:
new_companies.head(2) # new df for companies file after filtering the names.

,homepage_url,category_list,status,country_code,state_code,region,city,founded_at,company_name
0,http://livfame.com,Media,operating,IND,16,Mumbai,Mumbai,NaN,fame
1,http://www.qounter.com,Application Platforms|Real Time|Social Network...,operating,USA,DE,DE - Other,Delaware City,04-09-2014,qounter

## Cleaning company_permalink in round2 file

In [14]:
a1=rounds['company_permalink'].apply(lambda x: x.replace('/organization/',''))
a2=a1.apply(lambda x: x.replace('/ORGANIZATION/',''))
rounds_new=a2.apply(lambda x: x.replace('-','')).str.lower().str.strip()

#### unique company name in round2 file

In [15]:
rounds_new.nunique()

66290

### Droping the pemelink and adding the new column comapny_name

In [16]:
new_round2=rounds.drop(['company_permalink','funding_round_permalink'],axis=1)

In [17]:
new_round2['company_name']=rounds_new.str.lower()

In [18]:
new_round2.head(2) # new df for round2 file after filtering the names.

,funding_round_type,funding_round_code,funded_at,raised_amount_usd,company_name
0,venture,B,05-01-2015,10000000.0,fame
1,venture,A,14-10-2014,NaN,qounter

### merging the the two new data frames

In [19]:
master_frame=pd.merge(new_round2,new_companies)
master_frame.shape

(115200, 13)

### converging to only companies currently operating

In [20]:
master_frame_on=master_frame[master_frame['status']!='closed']
master_frame_on.shape

(106449, 13)

#### converging dataframe to ['venture','seed','private_equity','angel']

In [21]:
master_frame_conv=master_frame_on[master_frame_on.funding_round_type.isin (['venture','seed','private_equity','angel'])]
master_frame_conv.shape

(87039, 13)

##### improvising data with amount

### calculation of Representative Values  ['venture','seed','private_equity','angel']

In [22]:
mean_venture=master_frame_conv[master_frame_conv.funding_round_type.isin (['venture'])]

In [23]:
mean_venture['raised_amount_usd'].mean()

11899609.197291862

In [24]:
mean_venture['raised_amount_usd'].count()

46748

In [25]:
mean_seed=master_frame_conv[master_frame_conv.funding_round_type.isin (['seed'])]

In [26]:
mean_seed.mean()

raised_amount_usd    738753.403386
dtype: float64

In [27]:
mean_seed['raised_amount_usd'].count()

21798

In [28]:
mean_private_equity=master_frame_conv[master_frame_conv.funding_round_type.isin (['private_equity'])]

In [29]:
mean_private_equity.mean()

raised_amount_usd    7.550415e+07
dtype: float64

In [30]:
mean_private_equity['raised_amount_usd'].count()

1808

In [31]:
mean_angel=master_frame_conv[master_frame_conv.funding_round_type.isin (['angel'])]

In [32]:
mean_angel.mean()

raised_amount_usd    978893.929515
dtype: float64

In [33]:
mean_angel['raised_amount_usd'].count()

4313

# Choosing the venture stratgy

In [34]:
mean_venture=master_frame_conv[master_frame_conv.funding_round_type.isin (['venture'])]
mean_venture.shape

(51581, 13)

## top9 countries

In [35]:

top_country=mean_venture.pivot_table(index='country_code',values='raised_amount_usd',aggfunc='sum').sort_values(ascending=False,by='raised_amount_usd').head(9)
top_country

              raised_amount_usd
country_code
USA                4.008023e+11
CHN                3.910177e+10
GBR                1.834651e+10
IND                1.409556e+10
CAN                8.839931e+09
FRA                6.775044e+09
ISR                6.503021e+09
DEU                6.061141e+09
JPN                3.248032e+09

In [36]:
#has to be done while time of purchasing the company

# improvising the condition ('5000000<= raised_amount_usd <=15000000')
#df = df.query('5000000<= raised_amount_usd <=15000000')

In [37]:
master_frame.head(2)

,funding_round_type,funding_round_code,funded_at,raised_amount_usd,company_name,homepage_url,category_list,status,country_code,state_code,region,city,founded_at
0,venture,B,05-01-2015,10000000.0,fame,http://livfame.com,Media,operating,IND,16,Mumbai,Mumbai,NaN
1,venture,A,14-10-2014,NaN,qounter,http://www.qounter.com,Application Platforms|Real Time|Social Network...,operating,USA,DE,DE - Other,Delaware City,04-09-2014

In [38]:
new_category=mean_venture['category_list'].str.split('|',n=1,expand=True)

In [39]:
main_venture=mean_venture.drop(['category_list'],axis=1)

In [40]:
main_venture['primary_sector']=new_category[0]

In [41]:
#now the main data frame is # main_venture

## Problem 5
### merging the data frames main_venture & mapping

In [42]:
main_sector=pd.merge(main_venture,maping,left_on='primary_sector',right_on='category_list')

### Applying the conditions '5000000<=raised_amount_usd<=15000000'

In [43]:
main_sector=main_sector.query('5000000<=raised_amount_usd<=15000000')

In [44]:
main_sector = main_sector.rename(columns={'category_list':'Primary_list'})

In [81]:
map1=pd.melt(maping,id_vars=['category_list'],value_vars=['Automotive & Sports','Blanks','Cleantech / Semiconductors','Entertainment','Health','Manufacturing','News, Search and Messaging','Others','Social, Finance, Analytics, Advertising'])

In [46]:
map1=map1.query('value==1')

In [47]:
map1=map1.rename(columns = {'variable':'Major_sector'})

### merging the map file with the main sector file

In [48]:
main_frame=pd.merge(main_sector,map1,left_on='Primary_list',right_on='category_list')
main_frame

,funding_round_type,funding_round_code,funded_at,raised_amount_usd,company_name,homepage_url,status,country_code,state_code,region,...,Cleantech / Semiconductors,Entertainment,Health,Manufacturing,"News, Search and Messaging",Others,"Social, Finance, Analytics, Advertising",category_list,Major_sector,value
0,venture,B,05-01-2015,10000000.0,fame,http://livfame.com,operating,IND,16,Mumbai,...,0,1,0,0,0,0,0,Media,Entertainment,1
1,venture,NaN,06-10-2015,15000000.0,90min,http://www.90min.com,operating,GBR,H9,London,...,0,1,0,0,0,0,0,Media,Entertainment,1
2,venture,NaN,07-05-2013,5800000.0,90min,http://www.90min.com,operating,GBR,H9,London,...,0,1,0,0,0,0,0,Media,Entertainment,1
3,venture,A,06-08-2014,5000000.0,alldefdigital,http://alldefdigital.com,operating,USA,CA,Los Angeles,...,0,1,0,0,0,0,0,Media,Entertainment,1
4,venture,A,26-02-2015,5000000.0,chefsfeed,http://www.chefsfeed.com,operating,USA,CA,SF Bay Area,...,0,1,0,0,0,0,0,Media,Entertainment,1
5,venture,A,01-08-2006,5000000.0,huffingtonpost,http://www.huffingtonpost.com,acquired,USA,NY,New York City,...,0,1,0,0,0,0,0,Media,Entertainment,1
6,venture,B,01-09-2007,5000000.0,huffingtonpost,http://www.huffingtonpost.com,acquired,USA,NY,New York City,...,0,1,0,0,0,0,0,Media,Entertainment,1
7,venture,B,13-05-2015,5000000.0,mediabong,http://www.mediabong.com,operating,USA,NY,New York City,...,0,1,0,0,0,0,0,Media,Entertainment,1
8,venture,A,01-09-2015,6000000.0,moseeker,http://www.moseeker.com,operating,CHN,23,NaN,...,0,1,0,0,0,0,0,Media,Entertainment,1
9,venture,NaN,08-01-2010,12500000.0,newscorporation,http://www.newscorp.com,ipo,USA,NY,New York City,...,0,1,0,0,0,0,0,Media,Entertainment,1
10,venture,A,08-08-2008,9400000.0,nokeena,http://www.ankeena.com,acquired,USA,CA,SF Bay Area,...,0,1,0,0,0,0,0,Media,Entertainment,1
11,venture,B,25-06-2009,6500000.0,nokeena,http://www.ankeena.com,acquired,USA,CA,SF Bay Area,...,0,1,0,0,0,0,0,Media,Entertainment,1
12,venture,A,12-05-2015,7500000.0,vadio,http://vadio.com,operating,USA,OR,"Portland, Oregon",...,0,1,0,0,0,0,0,Media,Entertainment,1
13,venture,C,15-04-1999,15000000.0,xogroup,http://www.xogroupinc.com,ipo,NaN,NaN,NaN,...,0,1,0,0,0,0,0,Media,Entertainment,1
14,venture,A,24-03-2015,9000000.0,91app,http://91app.com,operating,CHN,4,Taiwan,...,0,0,0,0,1,0,0,Application Platforms,"News, Search and Messaging",1
15,venture,NaN,29-08-2003,6000000.0,aarohicommunication,http://www.aarohi.net/,acquired,USA,CA,SF Bay Area,...,0,0,0,0,1,0,0,Application Platforms,"News, Search and Messaging",1
16,venture,B,06-12-2002,8000000.0,aarohicommunication,http://www.aarohi.net/,acquired,USA,CA,SF Bay Area,...,0,0,0,0,1,0,0,Application Platforms,"News, Search and Messaging",1
17,venture,A,21-07-2008,10000000.0,appian,http://www.appian.com,operating,USA,VA,"Washington, D.C.",...,0,0,0,0,1,0,0,Application Platforms,"News, Search and Messaging",1
18,venture,B,15-01-2004,9000000.0,appilog,http://www.appilog.com/,acquired,USA,NY,New York City,...,0,0,0,0,1,0,0,Application Platforms,"News, Search and Messaging",1
19,venture,NaN,24-06-2003,6500000.0,appilog,http://www.appilog.com/,acquired,USA,NY,New York City,...,0,0,0,0,1,0,0,Application Platforms,"News, Search and Messaging",1
20,venture,NaN,02-03-2004,6034050.0,appiumtechnologies,NaN,acquired,SWE,27,Malmo,...,0,0,0,0,1,0,0,Application Platforms,"News, Search and Messaging",1
21,venture,A,01-08-2011,8000000.0,calxeda,http://www.calxeda.com,operating,USA,TX,Austin,...,0,0,0,0,1,0,0,Application Platforms,"News, Search and Messaging",1
22,venture,NaN,09-07-2014,10000000.0,commoninterestcommunities,http://commoninterestcommunities.com/,operating,GBR,H9,London,...,0,0,0,0,1,0,0,Application Platforms,"News, Search and Messaging",1
23,venture,A,31-03-2014,5200000.0,cosmocompany,http://www.thecosmocompany.com,operating,FRA,B9,Lyon,...,0,0,0,0,1,0,0,Application Platforms,"News, Search and Messaging",1
24,venture,A,18-09-2015,12500000.0,cruise,http://www.getcruise.com,operating,USA,CA,SF Bay Area,...,0,0,0,0,1,0,0,Application Platforms,"News, Search and Messaging",1
25,venture,A,30-03-2015,5800000.0,dadabus,http://www.dadabus.com/,operating,CHN,30,Shenzhen,...,0,0,0,0,1,0,0,Application Platforms,"News, Search and Messaging",1
26,venture,B,01-12-2006,6617549.0,evecom,http://eve.com/,operating,ISL,10,Reyjavik,...,0,0,0,0,1,0,0,Application Platforms,"News, Search and Messaging",1
27,venture,A,16-06-2004,7240750.0,evecom,http://eve.com/,operating,ISL,10,Reyjavik,...,0,0,0,0,1,0,0,Application Platforms,"News, Search and Messaging",1
28,venture,NaN,01-10-2014,5460000.0,geospockltd,http://www.geospock.com,operating,GBR,C3,London,...,0,0,0,0,1,0,0,Application Platforms,"News, Search and Messaging",1
29,venture,A,05-10-2015,5400000.0,geospockltd,http://www.geospock.com,operating,GBR,C3,London,...,0,0,0,0,1,0,0,Application Platforms,"News, Search and Messaging",1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14307,venture,NaN,14-06-2006,8000000.0,patientkeeper,http://www.patientkeeper.com,acquired,USA,MA,Boston,...,0,0,1,0,0,0,0,Physicians,Health,1
14308,venture,D,08-06-2004,7000000.0,patientkeeper,http://www.patientkeeper.com,acquired,USA,MA,Boston,...,0,0,1,0,0,0,0,Physicians,Health,1
14309,venture,NaN,22-06-2012,6250000.0,patientkeeper,http://www.patientkeeper.com,acquired,USA,MA,Boston,...,0,0,1,0,0,0,0,Physicians,Health,1
14310,venture,NaN,09-09-2010,6000000.0,perceptis,http://www.perceptis.com,acquired,USA,SC,Greenville - Spartanburg,...,0,0,0,0,0,0,1,BPO Services,"Social, Finance, Analytics, Advertising",1
14311,venture,NaN,03-10-2007,12000000.0,secureonedatasolutions,http://www.secure1data.com,operating,USA,NY,Long Island,...,0,0,0,0,0,0,1,BPO Services,"Social, Finance, Analytics, Advertising",1
14312,venture,A,01-10-2014,5725040.0,ulurucoltd,https://www.uluru.biz/,operating,NaN,NaN,NaN,...,0,0,0,0,0,0,1,BPO Services,"Social, Finance, Analytics, Advertising",1
14313,venture,A,21-10-2015,12233209.0,planetaryresources,http://planetaryresources.com,operating,USA,WA,Seattle,...,1,0,0,0,0,0,0,Mining Technologies,Cleantech / Semiconductors,1
14314,venture,NaN,01-12-2014,9000000.0,southgobiresourcesltd,http://southgobi.com,operating,CAN,BC,Vancouver,...,1,0,0,0,0,0,0,Mining Technologies,Cleantech / Semiconductors,1
14315,venture,A,03-12-2014,15000000.0,predictix,http://www.predictix.com,operating,USA,GA,Atlanta,...,0,0,0,0,0,1,0,Enterprise Resource Planning,Others,1
14316,venture,A,01-06-2007,13071895.0,qxcorporation,NaN,operating,CHN,23,Shanghai,...,0,0,0,0,0,1,0,Enterprise Resource Planning,Others,1
14317,venture,B,14-12-2011,14000000.0,prezi,http://prezi.com,operating,USA,CA,SF Bay Area,...,0,0,0,0,0,1,0,Presentations,Others,1
14318,venture,D,02-04-2003,9400000.0,responsys,http://www.responsys.com,acquired,USA,CA,SF Bay Area,...,0,0,0,0,1,0,0,Search Marketing,"News, Search and Messaging",1
14319,venture,B,09-12-2008,8000000.0,roost,https://roost.com/,acquired,USA,CA,SF Bay Area,...,0,0,0,0,0,1,0,Local Based Services,Others,1
14320,venture,A,01-01-2007,5500000.0,roost,https://roost.com/,acquired,USA,CA,SF Bay Area,...,0,0,0,0,0,1,0,Local Based Services,Others,1
14321,venture,B,06-11-2006,15000000.0,topix,http://topix.com,operating,USA,CA,SF Bay Area,...,0,0,0,0,0,1,0,Local Based Services,Others,1
14322,venture,A,16-10-2015,5745869.0,rxwiki,http://www.rxwiki.com,operating,USA,TX,Austin,...,0,0,1,0,0,0,0,Independent Pharmacies,Health,1
14323,venture,NaN,14-07-2007,10000000.0,tikvahtherapeutics,NaN,operating,USA,GA,Atlanta,...,0,0,1,0,0,0,0,Independent Pharmacies,Health,1
14324,venture,D,01-07-2008,6500000.0,satmetrix,http://www.satmetrix.com,operating,USA,CA,SF Bay Area,...,0,0,0,0,0,1,0,Loyalty Programs,Others,1
14325,venture,NaN,01-09-2011,12500000.0,satmetrix,http://www.satmetrix.com,operating,USA,CA,SF Bay Area,...,0,0,0,0,0,1,0,Loyalty Programs,Others,1
14326,venture,B,01-08-2007,15000000.0,switchfly,http://www.switchfly.com,operating,USA,CA,SF Bay Area,...,0,0,0,0,0,1,0,Loyalty Programs,Others,1
14327,venture,C,01-03-2012,15000000.0,switchfly,http://www.switchfly.com,operating,USA,CA,SF Bay Area,...,0,0,0,0,0,1,0,Loyalty Programs,Others,1
14328,venture,A,15-04-2015,10000000.0,yoyo,http://www.yoyowallet.com,operating,GBR,H9,London,...,0,0,0,0,0,1,0,Loyalty Programs,Others,1
14329,venture,A,15-01-2015,12400000.0,schweigerdermatology,http://www.schweigerderm.com/,operating,USA,NY,New York City,...,0,0,1,0,0,0,0,Cosmetic Surgery,Health,1
14330,venture,B,01-01-2008,5000000.0,thisnext,http://www.thisnext.com,operating,USA,CA,Los Angeles,...,0,0,0,0,0,0,1,Social Buying,"Social, Finance, Analytics, Advertising",1
14331,venture,A,18-09-2013,5000000.0,thredhq,https://thredhq.com/,operating,USA,CA,SF Bay Area,...,0,0,0,0,0,0,1,Social + Mobile + Local,"Social, Finance, Analytics, Advertising",1
14332,venture,A,29-01-2015,11000000.0,tripda,http://www.tripda.com.br,operating,BRA,27,Sao Paulo,...,0,0,0,0,1,0,0,Ride Sharing,"News, Search and Messaging",1
14333,venture,A,24-01-2001,8250000.0,userinterface,http://www.userinterface.com,operating,USA,CA,Bakersfield,...,0,0,0,0,0,1,0,User Interface,Others,1
14334,venture,NaN,25-11-2015,5000000.0,vectorwatch,http://www.vectorwatch.com/,operating,GBR,H9,London,...,0,0,0,0,0,1,0,Watch,Others,1
14335,venture,A,09-06-2014,10500000.0,washio,http://www.getwashio.com,operating,USA,CA,Los Angeles,...,0,0,0,0,0,1,0,Service Industries,Others,1
14336,venture,NaN,20-07-2011,5000000.0,yapta,http://www.yapta.com,operating,USA,WA,Seattle,...,0,0,0,0,0,1,0,Tracking,Others,1

## United States Of America

In [49]:
D1=main_frame.query("country_code=='USA' ")   # data frame for United States Of America
D1.shape

(10482, 26)

In [50]:
count=D1.groupby('Major_sector')[['company_name']].count()
count=count.reset_index()
count=count.rename(columns={"company_name": "count"})
count

                              Major_sector  count
0                      Automotive & Sports    157
1                                   Blanks     61
2               Cleantech / Semiconductors   2146
3                            Entertainment    521
4                                   Health    854
5                            Manufacturing    740
6               News, Search and Messaging   1451
7                                   Others   2735
8  Social, Finance, Analytics, Advertising   1817

In [51]:
d1=pd.merge(D1,count)
d1.head(2)

,funding_round_type,funding_round_code,funded_at,raised_amount_usd,company_name,homepage_url,status,country_code,state_code,region,...,Entertainment,Health,Manufacturing,"News, Search and Messaging",Others,"Social, Finance, Analytics, Advertising",category_list,Major_sector,value,count
0,venture,A,06-08-2014,5000000.0,alldefdigital,http://alldefdigital.com,operating,USA,CA,Los Angeles,...,1,0,0,0,0,0,Media,Entertainment,1,521
1,venture,A,26-02-2015,5000000.0,chefsfeed,http://www.chefsfeed.com,operating,USA,CA,SF Bay Area,...,1,0,0,0,0,0,Media,Entertainment,1,521

In [52]:
#sum
sumus=D1.groupby('Major_sector')[['raised_amount_usd']].sum()
sumus=sumus.reset_index()
sumus=sumus.rename(columns={'raised_amount_usd':'sum'})
sumus

                              Major_sector           sum
0                      Automotive & Sports  1.374304e+09
1                                   Blanks  5.691130e+08
2               Cleantech / Semiconductors  1.974190e+10
3                            Entertainment  4.510748e+09
4                                   Health  7.748830e+09
5                            Manufacturing  6.707809e+09
6               News, Search and Messaging  1.287045e+10
7                                   Others  2.444407e+10
8  Social, Finance, Analytics, Advertising  1.594762e+10

In [53]:
# merging to previous dataframe
D1=pd.merge(d1,sumus)
D1.head(2)

,funding_round_type,funding_round_code,funded_at,raised_amount_usd,company_name,homepage_url,status,country_code,state_code,region,...,Health,Manufacturing,"News, Search and Messaging",Others,"Social, Finance, Analytics, Advertising",category_list,Major_sector,value,count,sum
0,venture,A,06-08-2014,5000000.0,alldefdigital,http://alldefdigital.com,operating,USA,CA,Los Angeles,...,0,0,0,0,0,Media,Entertainment,1,521,4.510748e+09
1,venture,A,26-02-2015,5000000.0,chefsfeed,http://www.chefsfeed.com,operating,USA,CA,SF Bay Area,...,0,0,0,0,0,Media,Entertainment,1,521,4.510748e+09

## United Kingdom

In [54]:
D2=main_frame.query("country_code=='GBR' ")   #data frame for United Kingdom

In [55]:
count1=D2.groupby('Major_sector')[['company_name']].count()
count1=count1.reset_index()
count1=count1.rename(columns={"company_name": "count"})
count1

                              Major_sector  count
0                      Automotive & Sports     16
1                                   Blanks      5
2               Cleantech / Semiconductors    114
3                            Entertainment     52
4                                   Health     23
5                            Manufacturing     42
6               News, Search and Messaging     66
7                                   Others    137
8  Social, Finance, Analytics, Advertising     95

In [56]:
d2=pd.merge(D2,count1)
d2

,funding_round_type,funding_round_code,funded_at,raised_amount_usd,company_name,homepage_url,status,country_code,state_code,region,...,Entertainment,Health,Manufacturing,"News, Search and Messaging",Others,"Social, Finance, Analytics, Advertising",category_list,Major_sector,value,count
0,venture,NaN,06-10-2015,15000000.0,90min,http://www.90min.com,operating,GBR,H9,London,...,1,0,0,0,0,0,Media,Entertainment,1,52
1,venture,NaN,07-05-2013,5800000.0,90min,http://www.90min.com,operating,GBR,H9,London,...,1,0,0,0,0,0,Media,Entertainment,1,52
2,venture,A,13-05-2010,8800000.0,eutechnyx,http://press.eutechnyx.com,operating,GBR,E5,Gateshead,...,1,0,0,0,0,0,Games,Entertainment,1,52
3,venture,B,01-06-2011,10000000.0,mindcandy,http://www.mindcandy.com,operating,GBR,H9,London,...,1,0,0,0,0,0,Games,Entertainment,1,52
4,venture,A,23-11-2006,10860000.0,mindcandy,http://www.mindcandy.com,operating,GBR,H9,London,...,1,0,0,0,0,0,Games,Entertainment,1,52
5,venture,B,31-03-2008,5700000.0,mobango,http://www.mobango.com,operating,GBR,H9,London,...,1,0,0,0,0,0,Games,Entertainment,1,52
6,venture,B,21-06-2012,11000000.0,naturalmotion,http://naturalmotion.com,acquired,GBR,K2,London,...,1,0,0,0,0,0,Games,Entertainment,1,52
7,venture,NaN,28-05-2014,5000000.0,outplayentertainment,http://outplay.com/,operating,GBR,U3,Dundee,...,1,0,0,0,0,0,Games,Entertainment,1,52
8,venture,B,25-01-2011,10000000.0,playcastmedia,http://playcast-media.com,operating,GBR,H9,London,...,1,0,0,0,0,0,Games,Entertainment,1,52
9,venture,B,18-01-2007,9850000.0,playerx,http://www.playerx.com,operating,GBR,H9,London,...,1,0,0,0,0,0,Games,Entertainment,1,52
10,venture,A,03-10-2005,7060000.0,playerx,http://www.playerx.com,operating,GBR,H9,London,...,1,0,0,0,0,0,Games,Entertainment,1,52
11,venture,A,25-10-2011,5000000.0,playjam,http://www.playjam.com,operating,GBR,H9,London,...,1,0,0,0,0,0,Games,Entertainment,1,52
12,venture,NaN,16-12-2013,13000000.0,plumbee,http://www.plumbee.com,operating,GBR,H9,London,...,1,0,0,0,0,0,Games,Entertainment,1,52
13,venture,NaN,11-08-2015,6992898.0,simworx,http://www.simworx.co.uk,operating,GBR,A7,Birmingham,...,1,0,0,0,0,0,Games,Entertainment,1,52
14,venture,A,17-07-2015,7000000.0,superawesome,http://superawesome.tv,operating,GBR,H9,London,...,1,0,0,0,0,0,Games,Entertainment,1,52
15,venture,NaN,10-11-2010,5000000.0,turbulenz,http://ga.me,operating,GBR,N7,London,...,1,0,0,0,0,0,Games,Entertainment,1,52
16,venture,NaN,09-12-2010,10877666.0,attractionworld,http://www.attractionworld.com,operating,GBR,A7,Birmingham,...,1,0,0,0,0,0,Travel,Entertainment,1,52
17,venture,A,17-04-2014,10000000.0,citymapperlimited,http://citymapper.com,operating,GBR,H9,London,...,1,0,0,0,0,0,Travel,Entertainment,1,52
18,venture,NaN,03-10-2003,10000000.0,ebookersplc,http://www.ebookers.com,operating,GBR,H9,London,...,1,0,0,0,0,0,Travel,Entertainment,1,52
19,venture,NaN,18-03-2014,10606760.0,no1traveller,http://no1traveller.com,operating,GBR,H9,London,...,1,0,0,0,0,0,Travel,Entertainment,1,52
20,venture,A,07-09-2012,9000000.0,onetwotrip,http://www.onetwotrip.com,operating,GBR,H9,London,...,1,0,0,0,0,0,Travel,Entertainment,1,52
21,venture,NaN,13-03-2015,8000000.0,onetwotrip,http://www.onetwotrip.com,operating,GBR,H9,London,...,1,0,0,0,0,0,Travel,Entertainment,1,52
22,venture,B,15-10-2012,12857670.0,secretescapes,http://www.secretescapes.com,operating,GBR,H9,London,...,1,0,0,0,0,0,Travel,Entertainment,1,52
23,venture,B,02-03-2014,8000000.0,top10com,http://top10.com,operating,GBR,H9,London,...,1,0,0,0,0,0,Travel,Entertainment,1,52
24,venture,A,26-10-2014,7500000.0,weswapcom,http://www.weswap.com,operating,GBR,H9,London,...,1,0,0,0,0,0,Travel,Entertainment,1,52
25,venture,A,01-01-2008,6000000.0,blinkboxmusic,http://www.blinkboxmusic.com,operating,GBR,K2,London,...,1,0,0,0,0,0,Music,Entertainment,1,52
26,venture,A,01-05-2006,5000000.0,lastfm,http://last.fm,acquired,GBR,H9,London,...,1,0,0,0,0,0,Music,Entertainment,1,52
27,venture,A,09-02-2014,6061005.0,edinburghmolecularimaging,NaN,operating,GBR,T9,NaN,...,1,0,0,0,0,0,Photography,Entertainment,1,52
28,venture,A,01-11-2006,11000000.0,wayn,http://www.wayn.com,operating,GBR,H9,London,...,1,0,0,0,0,0,Photography,Entertainment,1,52
29,venture,B,21-05-2003,12000000.0,alphamosaicltd,NaN,acquired,GBR,C3,London,...,1,0,0,0,0,0,Video,Entertainment,1,52
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
520,venture,B,12-10-2010,6000000.0,veebeam,http://veebeam.com,operating,GBR,C3,London,...,0,0,1,0,0,0,Hardware + Software,Manufacturing,1,42
521,venture,NaN,13-10-2014,8039920.0,maplinelectronics,http://www.maplin.co.uk/,acquired,GBR,L3,Rotherham,...,0,0,1,0,0,0,Consumer Electronics,Manufacturing,1,42
522,venture,E,06-09-2005,9150000.0,pelikon,http://www.pelikon.com,operating,GBR,N1,GBR - Other,...,0,0,1,0,0,0,Consumer Electronics,Manufacturing,1,42
523,venture,C,18-06-2003,5000000.0,pelikon,http://www.pelikon.com,operating,GBR,N1,GBR - Other,...,0,0,1,0,0,0,Consumer Electronics,Manufacturing,1,42
524,venture,A,01-08-2008,14529275.0,mydeco,http://mydeco.com,acquired,GBR,H9,London,...,0,0,1,0,0,0,3D,Manufacturing,1,42
525,venture,NaN,01-07-2014,10000000.0,ioncore,http://ioncoretechnology.com,operating,GBR,D4,GBR - Other,...,0,0,1,0,0,0,3D Printing,Manufacturing,1,42
526,venture,NaN,16-11-2015,9742336.0,gigglingsquid,http://www.gigglingsquid.com/,operating,GBR,N7,London,...,0,0,1,0,0,0,Food Processing,Manufacturing,1,42
527,venture,A,17-11-2015,8000000.0,eatfirst,http://www.eatfirst.co.uk,operating,GBR,H9,London,...,0,0,1,0,0,0,Consumer Goods,Manufacturing,1,42
528,venture,NaN,01-05-2012,7410642.0,menlook,http://www.menlook.com,operating,GBR,NaN,NaN,...,0,0,1,0,0,0,Consumer Goods,Manufacturing,1,42
529,venture,NaN,15-09-2014,13010774.0,canburg,http://canburg.com,operating,GBR,P8,GBR - Other,...,0,0,1,0,0,0,Furniture,Manufacturing,1,42
530,venture,NaN,27-01-2015,8100000.0,pragmaticprinting,http://www.pragmaticprinting.com,operating,GBR,C3,London,...,0,0,1,0,0,0,Electronics,Manufacturing,1,42
531,venture,NaN,06-12-2012,5000000.0,skillsmatter,http://skillsmatter.com,operating,GBR,H9,London,...,0,0,1,0,0,0,Architecture,Manufacturing,1,42
532,venture,B,15-07-1999,6500000.0,microcosmcommunications,NaN,operating,GBR,B7,Bristol,...,0,0,1,0,0,0,Communications Infrastructure,Manufacturing,1,42
533,venture,A,17-01-2001,6686126.0,blueheath,NaN,operating,GBR,H9,London,...,0,0,1,0,0,0,Groceries,Manufacturing,1,42
534,venture,B,11-05-2008,11890000.0,autoquake,http://www.autoquake.com,acquired,GBR,H9,London,...,0,0,0,0,0,0,Automotive,Automotive & Sports,1,16
535,venture,A,01-07-2006,6000000.0,autoquake,http://www.autoquake.com,acquired,GBR,H9,London,...,0,0,0,0,0,0,Automotive,Automotive & Sports,1,16
536,venture,C,01-04-2009,5755376.0,autoquake,http://www.autoquake.com,acquired,GBR,H9,London,...,0,0,0,0,0,0,Automotive,Automotive & Sports,1,16
537,venture,B,01-04-2008,11911764.0,autoquake,http://www.autoquake.com,acquired,GBR,H9,London,...,0,0,0,0,0,0,Automotive,Automotive & Sports,1,16
538,venture,A,14-12-2014,7230241.0,carwow,http://www.carwow.co.uk,operating,GBR,H9,London,...,0,0,0,0,0,0,Automotive,Automotive & Sports,1,16
539,venture,NaN,14-07-2014,5133089.0,chargemaster,http://www.chargemasterplc.com,operating,GBR,A5,London,...,0,0,0,0,0,0,Automotive,Automotive & Sports,1,16
540,venture,A,19-07-2009,15000000.0,lightblueoptics,http://www.lightblueoptics.com,operating,GBR,C3,London,...,0,0,0,0,0,0,Automotive,Automotive & Sports,1,16
541,venture,A,11-10-2010,13000000.0,lightblueoptics,http://www.lightblueoptics.com,operating,GBR,C3,London,...,0,0,0,0,0,0,Automotive,Automotive & Sports,1,16
542,venture,NaN,05-08-2015,9345794.0,prodrive,http://www.prodrive.com,operating,GBR,K2,Banbury,...,0,0,0,0,0,0,Automotive,Automotive & Sports,1,16
543,venture,A,08-03-2007,12430126.0,streetcar,http://www.streetcar.co.uk,acquired,GBR,NaN,NaN,...,0,0,0,0,0,0,Automotive,Automotive & Sports,1,16
544,venture,C,20-01-2014,7576257.0,yasamotors,http://yasamotors.com,operating,GBR,K2,NaN,...,0,0,0,0,0,0,Automotive,Automotive & Sports,1,16
545,venture,B,10-01-2012,9278918.0,madecom,http://www.made.com,operating,GBR,H9,London,...,0,0,0,0,0,0,Design,Automotive & Sports,1,16
546,venture,F,19-05-2011,13000000.0,greenroadtechnologies,http://www.greenroad.com,operating,GBR,H9,London,...,0,0,0,0,0,0,Cars,Automotive & Sports,1,16
547,venture,NaN,31-01-2008,14500000.0,greenroadtechnologies,http://www.greenroad.com,operating,GBR,H9,London,...,0,0,0,0,0,0,Cars,Automotive & Sports,1,16
548,venture,E,22-02-2010,10000000.0,greenroadtechnologies,http://www.greenroad.com,operating,GBR,H9,London,...,0,0,0,0,0,0,Cars,Automotive & Sports,1,16
549,venture,D,28-05-2009,15000000.0,greenroadtechnologies,http://www.greenroad.com,operating,GBR,H9,London,...,0,0,0,0,0,0,Cars,Automotive & Sports,1,16

In [57]:
#sum
sumuk=D2.groupby('Major_sector')[['raised_amount_usd']].sum()
sumuk=sumuk.reset_index()
sumuk=sumuk.rename(columns={'raised_amount_usd':'sum'})
sumuk

                              Major_sector           sum
0                      Automotive & Sports  1.670516e+08
1                                   Blanks  4.025000e+07
2               Cleantech / Semiconductors  1.028029e+09
3                            Entertainment  4.544111e+08
4                                   Health  2.025375e+08
5                            Manufacturing  3.658243e+08
6               News, Search and Messaging  5.585007e+08
7                                   Others  1.189442e+09
8  Social, Finance, Analytics, Advertising  7.976084e+08

In [58]:
# merging to previous dataframe
D2=pd.merge(d2,sumuk)
D2.head(2)

,funding_round_type,funding_round_code,funded_at,raised_amount_usd,company_name,homepage_url,status,country_code,state_code,region,...,Health,Manufacturing,"News, Search and Messaging",Others,"Social, Finance, Analytics, Advertising",category_list,Major_sector,value,count,sum
0,venture,NaN,06-10-2015,15000000.0,90min,http://www.90min.com,operating,GBR,H9,London,...,0,0,0,0,0,Media,Entertainment,1,52,454411059.0
1,venture,NaN,07-05-2013,5800000.0,90min,http://www.90min.com,operating,GBR,H9,London,...,0,0,0,0,0,Media,Entertainment,1,52,454411059.0

## India

In [59]:
D3=main_frame.query("country_code=='IND' ")   #data frame for India

In [60]:
count3=D3.groupby('Major_sector')[['company_name']].count()
count3=count3.reset_index()
count3=count3.rename(columns={"company_name": "count"})
count3

                              Major_sector  count
0                      Automotive & Sports     13
1                                   Blanks      2
2               Cleantech / Semiconductors     20
3                            Entertainment     32
4                                   Health     18
5                            Manufacturing     21
6               News, Search and Messaging     51
7                                   Others    102
8  Social, Finance, Analytics, Advertising     32

In [61]:
d3=pd.merge(D3,count3)

In [62]:
d3

,funding_round_type,funding_round_code,funded_at,raised_amount_usd,company_name,homepage_url,status,country_code,state_code,region,...,Entertainment,Health,Manufacturing,"News, Search and Messaging",Others,"Social, Finance, Analytics, Advertising",category_list,Major_sector,value,count
0,venture,B,05-01-2015,10000000.0,fame,http://livfame.com,operating,IND,16,Mumbai,...,1,0,0,0,0,0,Media,Entertainment,1,32
1,venture,NaN,27-11-2006,5000000.0,dhruva,http://www.dhruva.com/,operating,IND,19,Bangalore,...,1,0,0,0,0,0,Games,Entertainment,1,32
2,venture,A,29-03-2007,5000000.0,games2win,http://www.games2win.com,operating,IND,16,Mumbai,...,1,0,0,0,0,0,Games,Entertainment,1,32
3,venture,B,30-03-2011,6000000.0,games2win,http://www.games2win.com,operating,IND,16,Mumbai,...,1,0,0,0,0,0,Games,Entertainment,1,32
4,venture,B,03-11-2015,5000000.0,pokkt,http://www.pokkt.com,operating,IND,16,Mumbai,...,1,0,0,0,0,0,Games,Entertainment,1,32
5,venture,NaN,12-12-2006,8000000.0,cleartrip,http://www.cleartrip.com,operating,IND,16,Mumbai,...,1,0,0,0,0,0,Travel,Entertainment,1,32
6,venture,NaN,12-05-2014,5400000.0,cleartrip,http://www.cleartrip.com,operating,IND,16,Mumbai,...,1,0,0,0,0,0,Travel,Entertainment,1,32
7,venture,A,31-07-2015,10000000.0,tripfactory,http://www.tripfactory.com,operating,IND,19,Bangalore,...,1,0,0,0,0,0,Travel,Entertainment,1,32
8,venture,A,06-06-2007,5000000.0,via3,http://in.via.com,operating,IND,19,Bangalore,...,1,0,0,0,0,0,Travel,Entertainment,1,32
9,venture,D,05-07-2012,14500000.0,yatraonline,http://www.Yatra.com,operating,IND,10,New Delhi,...,1,0,0,0,0,0,Travel,Entertainment,1,32
10,venture,A,11-01-2006,5000000.0,yatraonline,http://www.Yatra.com,operating,IND,10,New Delhi,...,1,0,0,0,0,0,Travel,Entertainment,1,32
11,venture,A,11-03-2015,15000000.0,moonfroglabs,http://www.moonfroglabs.com/,operating,IND,19,Bangalore,...,1,0,0,0,0,0,Game,Entertainment,1,32
12,venture,B,12-01-2011,7500000.0,apalya,http://www.apalya.com/,operating,IND,2,Hyderabad,...,1,0,0,0,0,0,Content,Entertainment,1,32
13,venture,C,01-12-2012,8000000.0,apalya,http://www.apalya.com/,operating,IND,2,Hyderabad,...,1,0,0,0,0,0,Content,Entertainment,1,32
14,venture,B,10-07-2015,7500000.0,collectabilliacom,https://www.collectabillia.com/,operating,IND,19,Bangalore,...,1,0,0,0,0,0,Fashion,Entertainment,1,32
15,venture,B,07-07-2015,7500000.0,collectabilliacom,https://www.collectabillia.com/,operating,IND,19,Bangalore,...,1,0,0,0,0,0,Fashion,Entertainment,1,32
16,venture,B,17-07-2012,9000000.0,freecultr,http://www.freecultr.com,operating,IND,10,Haryana,...,1,0,0,0,0,0,Fashion,Entertainment,1,32
17,venture,NaN,05-10-2015,9500000.0,nykaa,http://nykaa.com,operating,IND,16,Mumbai,...,1,0,0,0,0,0,Fashion,Entertainment,1,32
18,venture,A,08-02-2013,10000000.0,valyootechnologies,http://www.valyoo.in,operating,IND,7,New Delhi,...,1,0,0,0,0,0,Fashion,Entertainment,1,32
19,venture,NaN,17-07-2013,5000000.0,vardhmantextiles,http://vardhman.com,operating,IND,23,Ludhiana,...,1,0,0,0,0,0,Fashion,Entertainment,1,32
20,venture,NaN,25-04-2013,12000000.0,yebhi,http://yebhi.com,operating,IND,10,New Delhi,...,1,0,0,0,0,0,Fashion,Entertainment,1,32
21,venture,B,01-01-2011,9000000.0,yebhi,http://yebhi.com,operating,IND,10,New Delhi,...,1,0,0,0,0,0,Fashion,Entertainment,1,32
22,venture,B,10-12-2013,6000000.0,zivamecom,http://www.askforoffer.com,operating,IND,19,Bangalore,...,1,0,0,0,0,0,Fashion,Entertainment,1,32
23,venture,NaN,28-10-2014,8180000.0,adlabsimagica,http://www.adlabsimagica.com,operating,IND,16,IND - Other,...,1,0,0,0,0,0,Entertainment,Entertainment,1,32
24,venture,NaN,23-02-2015,10000000.0,smartairtrip,http://smartairtrip.com/,operating,IND,7,Delhi,...,1,0,0,0,0,0,Hotels,Entertainment,1,32
25,venture,A,10-11-2015,6000000.0,chefsbasket,http://www.chefsbasket.in/,operating,IND,16,Mumbai,...,1,0,0,0,0,0,Restaurants,Entertainment,1,32
26,venture,A,05-10-2015,10000000.0,sportzvillage,http://www.sportzvillage.com/index.html,operating,IND,16,Mumbai,...,1,0,0,0,0,0,Events,Entertainment,1,32
27,venture,A,04-06-2014,15000000.0,octro2,http://octro.com,operating,IND,7,Delhi,...,1,0,0,0,0,0,Online Gaming,Entertainment,1,32
28,venture,C,21-02-2013,10000000.0,zomato,https://www.zomato.com/,operating,IND,10,New Delhi,...,1,0,0,0,0,0,Content Discovery,Entertainment,1,32
29,venture,A,11-08-2015,8000000.0,livspace,http://www.livspace.com/,operating,IND,19,Bangalore,...,1,0,0,0,0,0,Interior Design,Entertainment,1,32
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261,venture,NaN,24-12-2014,10000000.0,qwikcilversolutions,http://qwikcilver.com,operating,IND,19,Bangalore,...,0,0,1,0,0,0,Computers,Manufacturing,1,21
262,venture,NaN,28-04-2008,9350000.0,dixontechnologies,http://www.dixoninfo.com,operating,IND,36,New Delhi,...,0,0,1,0,0,0,Hardware + Software,Manufacturing,1,21
263,venture,B,26-08-2013,6000000.0,electronicpaymentandservices,http://electronicpay.in,operating,IND,16,Mumbai,...,0,0,1,0,0,0,Hardware + Software,Manufacturing,1,21
264,venture,NaN,17-12-2013,5000000.0,electronicpaymentandservices,http://electronicpay.in,operating,IND,16,Mumbai,...,0,0,1,0,0,0,Hardware + Software,Manufacturing,1,21
265,venture,A,26-02-2015,10000000.0,groferstrusteddeliverypartner,http://grofers.com,operating,IND,10,New Delhi,...,0,0,1,0,0,0,Consumer Electronics,Manufacturing,1,21
266,venture,A,18-01-2011,6000000.0,letsbuycom,http://www.letsbuy.com,acquired,IND,10,Haryana,...,0,0,1,0,0,0,Consumer Electronics,Manufacturing,1,21
267,venture,NaN,23-02-2015,9600000.0,bakerscircle,http://www.bakerscircle.co.in/index.html,operating,IND,7,New Delhi,...,0,0,1,0,0,0,Food Processing,Manufacturing,1,21
268,venture,NaN,16-09-2015,10000000.0,chaipoint,http://chaipoint.com/,operating,IND,19,Bangalore,...,0,0,1,0,0,0,Food Processing,Manufacturing,1,21
269,venture,NaN,13-07-2015,10000000.0,mamagoto,http://www.mamagoto.in/,operating,IND,7,New Delhi,...,0,0,1,0,0,0,Food Processing,Manufacturing,1,21
270,venture,NaN,01-06-2015,6000000.0,veebafoods,http://www.veeba.in,operating,IND,7,New Delhi,...,0,0,1,0,0,0,Food Processing,Manufacturing,1,21
271,venture,NaN,06-11-2015,15000000.0,yuhihospitality,http://www.yuhihospitality.com/index.php,operating,IND,10,New Delhi,...,0,0,1,0,0,0,Food Processing,Manufacturing,1,21
272,venture,B,20-05-2013,8000000.0,hectorbeverages,http://hectorbeverages.com,operating,IND,10,Haryana,...,0,0,1,0,0,0,Consumer Goods,Manufacturing,1,21
273,venture,NaN,31-10-2014,5700000.0,idfreshfood,http://idspecial.com/,operating,IND,19,Bangalore,...,0,0,1,0,0,0,Consumer Goods,Manufacturing,1,21
274,venture,B,01-12-2012,10000000.0,lenskartcom,http://www.lenskart.com,operating,IND,7,New Delhi,...,0,0,1,0,0,0,Consumer Goods,Manufacturing,1,21
275,venture,NaN,07-08-2015,13000000.0,powermechprojects,http://www.powermechprojects.in/,operating,IND,2,Hyderabad,...,0,0,1,0,0,0,Construction,Manufacturing,1,21
276,venture,NaN,10-03-2015,10000000.0,speakwellenterprises,http://speakwell.co.in,operating,IND,16,Mumbai,...,0,0,1,0,0,0,Communications Infrastructure,Manufacturing,1,21
277,venture,A,13-04-2015,10000000.0,zopnow,http://www.zopnow.com,operating,IND,19,Bangalore,...,0,0,1,0,0,0,Groceries,Manufacturing,1,21
278,venture,A,10-04-2012,5000000.0,anitechnologies,http://www.olacabs.com,operating,IND,28,Kolkata,...,0,0,0,0,0,0,Automotive,Automotive & Sports,1,13
279,venture,A,29-05-2015,12000000.0,atherenergy,http://www.atherenergy.com,operating,IND,19,Bangalore,...,0,0,0,0,0,0,Automotive,Automotive & Sports,1,13
280,venture,A,27-11-2013,15000000.0,cardekho,http://www.cardekho.com/,operating,IND,10,New Delhi,...,0,0,0,0,0,0,Automotive,Automotive & Sports,1,13
281,venture,A,11-09-2015,15000000.0,incredibletechnologiespvtltd,http://www.credr.com/,operating,IND,16,Mumbai,...,0,0,0,0,0,0,Automotive,Automotive & Sports,1,13
282,venture,B,18-04-2014,10000000.0,taxiforsurecom,http://www.taxiforsure.com,acquired,IND,19,Bangalore,...,0,0,0,0,0,0,Automotive,Automotive & Sports,1,13
283,venture,A,31-10-2014,8000000.0,zoomcarindia,http://www.zoomcar.in,operating,IND,19,Bangalore,...,0,0,0,0,0,0,Automotive,Automotive & Sports,1,13
284,venture,NaN,08-07-2015,11000000.0,zoomcarindia,http://www.zoomcar.in,operating,IND,19,Bangalore,...,0,0,0,0,0,0,Automotive,Automotive & Sports,1,13
285,venture,A,05-08-2013,6400000.0,tonboimaging,http://tonboimaging.com,operating,IND,19,Bangalore,...,0,0,0,0,0,0,Design,Automotive & Sports,1,13
286,venture,B,06-02-2008,6500000.0,mistralsolutions,http://www.mistralsolutions.com,operating,IND,19,Bangalore,...,0,0,0,0,0,0,Aerospace,Automotive & Sports,1,13
287,venture,NaN,20-03-2015,15000000.0,mahindrafirstchoice,http://mahindrafirstchoice.com/,operating,IND,NaN,NaN,...,0,0,0,0,0,0,Cars,Automotive & Sports,1,13
288,venture,C,08-10-2007,15000000.0,makemytripcom,http://makemytrip.com,ipo,IND,10,New Delhi,...,0,0,0,0,0,0,Transportation,Automotive & Sports,1,13
289,venture,B,14-12-2006,13000000.0,makemytripcom,http://makemytrip.com,ipo,IND,10,New Delhi,...,0,0,0,0,0,0,Transportation,Automotive & Sports,1,13
290,venture,B,07-09-2014,5000000.0,indianroots,http://www.indianroots.in/,operating,IND,10,New Delhi,...,0,0,0,0,0,0,Designers,Automotive & Sports,1,13

In [63]:
#sum
sumind=D3.groupby('Major_sector')[['raised_amount_usd']].sum()
sumind=sumind.reset_index()
sumind=sumind.rename(columns={'raised_amount_usd':'sum'})
sumind

                              Major_sector          sum
0                      Automotive & Sports  136900000.0
1                                   Blanks   27000000.0
2               Cleantech / Semiconductors  165380000.0
3                            Entertainment  272080000.0
4                                   Health  160740000.0
5                            Manufacturing  200900000.0
6               News, Search and Messaging  423834545.0
7                                   Others  934289507.0
8  Social, Finance, Analytics, Advertising  290543500.0

In [64]:
# merging to previous dataframe
D3=pd.merge(d3,sumind)
D3.head(2)

,funding_round_type,funding_round_code,funded_at,raised_amount_usd,company_name,homepage_url,status,country_code,state_code,region,...,Health,Manufacturing,"News, Search and Messaging",Others,"Social, Finance, Analytics, Advertising",category_list,Major_sector,value,count,sum
0,venture,B,05-01-2015,10000000.0,fame,http://livfame.com,operating,IND,16,Mumbai,...,0,0,0,0,0,Media,Entertainment,1,32,272080000.0
1,venture,NaN,27-11-2006,5000000.0,dhruva,http://www.dhruva.com/,operating,IND,19,Bangalore,...,0,0,0,0,0,Games,Entertainment,1,32,272080000.0

## All data Frames

## United States(U.S)            - D1
## United Kingdom(GBR)     - D2
## India(IND)                          - D3

In [65]:
# 1. Total number of investments (count)

count['count'].sum()   #US

10482

In [66]:
count1['count'].sum()    #UK

550

In [67]:
count3['count'].sum()     #IND

291

In [68]:
#2. Total amount of investment (USD)

sumus['sum'].sum()       #US

93914840098.0

In [69]:
sumuk['sum'].sum()       #UK

4803654985.0

In [70]:
sumind['sum'].sum()      #IND

2611667552.0

 
 
 3. Top sector (based on count of investments)
  
 4. Second-best sector (based on count of investments)
   
 5. Third-best sector (based on count of investments)
 
 
 
 
  6. Number of investments in the top sector (refer to point 3)
   
  7. Number of investments in the second-best sector (refer to point 4)
   
  8. Number of investments in the third-best sector (refer to point 5)

In [71]:
#US
count.sort_values(ascending=False,by='count').head(3)

                              Major_sector  count
7                                   Others   2735
2               Cleantech / Semiconductors   2146
8  Social, Finance, Analytics, Advertising   1817

In [72]:
#UK
count1.sort_values(ascending=False,by='count').head(3)

                              Major_sector  count
7                                   Others    137
2               Cleantech / Semiconductors    114
8  Social, Finance, Analytics, Advertising     95

In [73]:
#IND
count3.sort_values(ascending=False,by='count').head(3)

                 Major_sector  count
7                      Others    102
6  News, Search and Messaging     51
3               Entertainment     32

 9. For the top sector count-wise (point 3), which company received the highest investment?

In [74]:
#US
D1.query("Major_sector=='Others'").groupby('company_name')[['raised_amount_usd']].sum().sort_values(ascending=False,by='raised_amount_usd').head(1)

              raised_amount_usd
company_name
virtustream          64300000.0

In [75]:
#UK
D2.query("Major_sector=='Others'").groupby('company_name')[['raised_amount_usd']].sum().sort_values(ascending=False,by='raised_amount_usd').head(1)

               raised_amount_usd
company_name
electriccloud         37000000.0

In [76]:
#IND
D3.query("Major_sector=='Others'").groupby('company_name')[['raised_amount_usd']].sum().sort_values(ascending=False,by='raised_amount_usd').head(1)

              raised_amount_usd
company_name
firstcrycom          39000000.0

 10. For the second-best sector count-wise (point 4), which company received the highest investment?

In [77]:
# US
D1.query("Major_sector=='Cleantech / Semiconductors'").groupby('company_name')[['raised_amount_usd']].sum().sort_values(ascending=False,by='raised_amount_usd').head(1)

              raised_amount_usd
company_name
biodesix             75300000.0

In [78]:
# UK
D2.query("Major_sector=='Cleantech / Semiconductors'").groupby('company_name')[['raised_amount_usd']].sum().sort_values(ascending=False,by='raised_amount_usd').head(1)

              raised_amount_usd
company_name
eusapharma           35600000.0

In [79]:
# IND
D3.query("Major_sector=='News, Search and Messaging'").groupby('company_name')[['raised_amount_usd']].sum().sort_values(ascending=False,by='raised_amount_usd').head(1)

                              raised_amount_usd
company_name
gupshuptechnologyindiapvtltd         33000000.0